.hls1{
    background-color: hsl(240, 100%, 50%);
    color: hsl(0, 0%, 100%);
    padding: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}
.hls2{
    background-color: hsl(0, 59%, 41%);
    color: hsl(16, 100%, 66%);
    padding: 20px;
    margin-bottom: 15px;
}

.hls3{
    background-color: hsl(60, 100%, 50%);
    color: hsl(0, 0%, 0%);
    padding: 20px;
    margin-bottom: 15px;
}