a:hover {
    color: orange;
    background-color:darkgray;
    text-decoration: none;
}
a:active {
    color: red;
}
a:visited {
    color: purple;
}
ul li:first-child {
    color:darkgreen;
    font-style: italic;
}
ul li:last-child {
    color:peru;
    text-decoration: underline;
}