li a {
    color: red;
    text-decoration: none;
}

div#lista>ul {
    border: 1px solid black;
    padding: 15px;
}

div#lista a {
    font-weight: bold;
}

section h2+p {
    background-color: #8a3e3e;
}

div,
p,
span,
ul {
    letter-spacing: 0.5px;
}

h1,
h2,
h3 {
    color: rgb(31, 113, 52);
}

ul li {
    list-style-type: square;
}